html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color:rgb(253, 253, 253);
}

.App {
  text-align: center;
  background-color:#93ff93 ;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #a3b7e6; */
  display: flex;
  max-width: 1%;
  margin-left: 5%;
  text-align: left;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
